{% extends "base.html" %}

{% block content %}
    <section>
        {% for chat in chats %}
            <a href="{{ url_for("chat", chat_id=chat["id"]) }}"><button>{{ chat["message"] }}</button></a>
        {% endfor %}
    </section>
    <form method="post">
        <fieldset role="group">
            <input type="text" name="message" placeholder="Question">
            <select name="model">
                {% for model in models %}
                    <option value="{{ model }}">{{ model }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Ask">
        </fieldset>
    </form>
{% endblock %}
