{% for message in messages %}
    <article class="message {{ loop.cycle("right", "left") }}">{{ message }}</article>
{% endfor %}

{% if not done %}
    <article class="message left" aria-busy="true"></article>
{% else %}
    <form method="post">
        <fieldset role="group">
            <input type="text" name="message" placeholder="Question">
            <input type="submit" value="Ask">
        </fieldset>
    </form>
    <script>window.messagesDone = {{ done | int }};</script>
{% endif %}
